.wj-section-entry {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  max-width: 768px;
  width: 100%;
}

.wj-section-entry button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 9999px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  line-height: 1.15em;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: 180px;
}

.wj-section-entry button:hover {
  background-color: #fff;
  color: #728ce1;
  transition: all 0.2s ease;
  transform: translateY(-2px);
}

.wj-section-entry-date, .wj-section-entry-zip, .wj-section-entry-feelings {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%;
}

.wj-section-entry-date input {
  background-color: #4258b6;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  outline: 0;
  padding: 0.5rem 1rem;
}

.wj-section-entry-zip input, .wj-section-entry-feelings textarea {
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  color: #575352;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  outline: 0;
  padding: 0.5rem 1rem;
}

.wj-section-entry-zip input:focus, .wj-section-entry-feelings textarea {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.wj-section-entry-feelings {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {

  .wj-section-entry-date, .wj-section-entry-zip {
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .wj-section-entry-zip input {
    margin-top: 0;
  }

}
